window {
  border: none;
  background: transparent;
}

#outer-box {
  margin: 8px;
  border-radius: 12px;
  background-color: @theme_base_color;
}

#input {
  margin-bottom: 8px;
  font-size: 16px;
}

#entry {
  padding: 6px;
  font-size: 16px;
}
