<touchégg>

  <settings>
    <animation_delay>150</animation_delay>
    <action_execute_threshold>20</action_execute_threshold>

    <color>auto</color>
    <borderColor>auto</borderColor>
  </settings>

  <!--
    Configuration for every application.
  -->
  <application name="All">

    <!-- Zooming -->
    <gesture type="PINCH" fingers="2" direction="IN">
      <action type="SEND_KEYS">
        <repeat>true</repeat>
        <modifiers>Control_L</modifiers>
        <keys>KP_Subtract</keys>
        <decreaseKeys>KP_Add</decreaseKeys>
      </action>
    </gesture>

    <gesture type="PINCH" fingers="2" direction="OUT">
      <action type="SEND_KEYS">
        <repeat>true</repeat>
        <modifiers>Control_L</modifiers>
        <keys>KP_Add</keys>
        <decreaseKeys>KP_Subtract</decreaseKeys>
      </action>
    </gesture>

    <!-- Middle click -->
    <gesture type="TAP" fingers="3">
      <action type="MOUSE_CLICK">
        <button>2</button>
        <on>begin</on>
      </action>
    </gesture>

    <!-- Monocle layout - focus active window -->
    <gesture type="SWIPE" fingers="3" direction="UP">
      <action type="RUN_COMMAND">
        <repeat>false</repeat>
        <command>qdbus org.kde.kglobalaccel /component/kwin invokeShortcut 'bismuth_toggle_monocle_layout'</command>
        <on>begin</on>
      </action>
    </gesture>

    <gesture type="SWIPE" fingers="3" direction="LEFT">
      <action type="RUN_COMMAND">
        <repeat>false</repeat>
        <command>qdbus org.kde.kglobalaccel /component/kwin invokeShortcut 'bismuth_move_window_to_left_pos'</command>
        <on>begin</on>
      </action>
    </gesture>
    <gesture type="SWIPE" fingers="3" direction="RIGHT">
      <action type="RUN_COMMAND">
        <repeat>false</repeat>
        <command>qdbus org.kde.kglobalaccel /component/kwin invokeShortcut 'bismuth_move_window_to_right_pos'</command>
        <on>begin</on>
      </action>
    </gesture>

    <gesture type="SWIPE" fingers="3" direction="DOWN">
      <action type="MINIMIZE_WINDOW">
        <animate>true</animate>
      </action>
    </gesture>

    <gesture type="SWIPE" fingers="4" direction="UP">
      <action type="RUN_COMMAND">
        <repeat>false</repeat>
        <command>qdbus org.kde.kglobalaccel /component/kwin invokeShortcut 'Overview'</command>
        <on>begin</on>
      </action>
    </gesture>

    <gesture type="SWIPE" fingers="4" direction="DOWN">
      <action type="SHOW_DESKTOP">
        <animate>true</animate>
      </action>
    </gesture>

    <!-- Desktop navigation -->
    <gesture type="SWIPE" fingers="4" direction="LEFT">
      <action type="CHANGE_DESKTOP">
        <direction>next</direction>
        <animate>true</animate>
        <cyclic>true</cyclic>
        <animationPosition>right</animationPosition>
      </action>
    </gesture>

    <gesture type="SWIPE" fingers="4" direction="RIGHT">
      <action type="CHANGE_DESKTOP">
        <direction>previous</direction>
        <animate>true</animate>
        <cyclic>true</cyclic>
        <animationPosition>left</animationPosition>
      </action>
    </gesture>

  </application>

  <!--
    Configuration for specific applications.
  -->
  <application name="Google-chrome,Chromium,Firefox,Brave-browser,brave-browser">

    <!-- Forward/back navigation is handled via an extension -->
    <gesture type="SWIPE" fingers="2" direction="LEFT">
      <action type="DISABLED"/>
    </gesture>

    <gesture type="SWIPE" fingers="2" direction="RIGHT">
      <action type="DISABLED"/>
    </gesture>

    <!-- Forward/back navigation -->
    <!-- <gesture type="SWIPE" fingers="4" direction="RIGHT">
      <action type="SEND_KEYS">
        <repeat>false</repeat>
        <modifiers>Alt_L</modifiers>
        <keys>KP_Left</keys>
        <on>begin</on>
      </action>
    </gesture>

    <gesture type="SWIPE" fingers="4" direction="LEFT">
      <action type="SEND_KEYS">
        <repeat>false</repeat>
        <modifiers>Alt_L</modifiers>
        <keys>KP_Right</keys>
        <on>begin</on>
      </action>
    </gesture> -->

    <!-- Tabs navigation -->
    <!-- <gesture type="PINCH" fingers="4" direction="IN">
      <action type="SEND_KEYS">
        <repeat>true</repeat>
        <modifiers>Control_L</modifiers>
        <keys>Shift_L+Tab</keys>
        <decreaseKeys>Shift_L+Tab</decreaseKeys>
        <on>begin</on>
      </action>
    </gesture>

    <gesture type="PINCH" fingers="4" direction="OUT">
      <action type="SEND_KEYS">
        <repeat>true</repeat>
        <modifiers>Control_L</modifiers>
        <keys>Tab</keys>
        <decreaseKeys>Shift_L+Tab</decreaseKeys>
        <on>begin</on>
      </action>
    </gesture> -->

  </application>

</touchégg>