/*** Sidebar ***/

/* Fix tab audio icon overlay visibility */
.tab-icon-overlay {
  padding: 1px !important;
  background-color: transparent !important;
}

/* Disable window dragging on sidebar */
#navigator-toolbox {
  -moz-window-dragging: no-drag;
}

/*** Use leaf-theme titlebar button icons ***/

.titlebar-min > image {
  background-image: url("@leafTheme@/share/aurorae/themes/leaf-dark/minimize.svg") !important;
}
.titlebar-max > image {
  background-image: url("@leafTheme@/share/aurorae/themes/leaf-dark/maximize.svg") !important;
}
.titlebar-restore > image {
  background-image: url("@leafTheme@/share/aurorae/themes/leaf-dark/restore.svg") !important;
}
.titlebar-close > image {
  background-image: url("@leafTheme@/share/aurorae/themes/leaf-dark/close.svg") !important;
}

/*** Remove items from context menu ***/

/* Email <x>... */
#context-sendimage, 
#context-sendvideo, 
#context-sendaudio, 

/* View image info... */
#context-viewimageinfo,
#context-viewimagedesc,

/* Take screenshot... (and separator) */
#context-sep-screenshots, #context-take-screenshot,

/* Set Image as Desktop Background... */
#context-setDesktopBackground,

/* Bookmark Link... */
#context-bookmarklink,

/* Inspect Accessibility Properties */
#context-inspect-a11y {
  display: none !important;
}
