/* Fix OctoPrint's new icon colors having a hardcoded color */
.octoprint-container .accordion-heading [class*=icon-],
.octoprint-container .accordion-heading [class^=icon-] {
  color: inherit;
}

/* Make code blocks easier to read */
.themeify.discoranged code {
  background-color: #2C2E34;
}

/* Fix navigation pills styling */
.themeify.discoranged .nav-pills > li.active > a,
.themeify.discoranged .nav-pills > li > a:hover {
  color: #25262B;
}

/* Align footer to bottom */
html, body, .page-container {
  min-height: 100%;
  height: 100%;
}
.container {
  display: table;
  min-height: calc(100% - 45px - 20px);  /* minus header and top margin */
  /* NOTE: Padding is pretty much included in the width calculation below */
  width: calc(100% - 40px);  /* minus padding */
  padding: 0px;  /* Make sure padding is really removed */
}
.row {
  display: table-row;
}
.footer {
  display: table-row;
  vertical-align: bottom;
}
.footer > ul {
  /* Remove padding from footer elements, as it's set on the container now */
  padding-left: unset !important;
  padding-right: unset !important;
}