<div
  data-node-type="expand"
  data-title="❔ Environment"
  data-expanded="true"
  data-prosemirror-content-type="node"
  data-prosemirror-node-name="expand"
  data-prosemirror-node-block="true"
>
  <p
    data-prosemirror-content-type="node"
    data-prosemirror-node-name="paragraph"
    data-prosemirror-node-block="true"
  >
    Stage:
    <strong
      data-prosemirror-content-type="mark"
      data-prosemirror-mark-name="strong"
      >@stage@</strong
    ><br
      data-prosemirror-content-type="node"
      data-prosemirror-node-name="hardBreak"
      data-prosemirror-node-inline="true"
    />@component1@:
    <span
      class="code"
      spellcheck="false"
      data-prosemirror-content-type="mark"
      data-prosemirror-mark-name="code"
      >@version1@</span
    ><br
      data-prosemirror-content-type="node"
      data-prosemirror-node-name="hardBreak"
      data-prosemirror-node-inline="true"
    />@component2@:
    <span
      class="code"
      spellcheck="false"
      data-prosemirror-content-type="mark"
      data-prosemirror-mark-name="code"
      >@version2@</span
    >
  </p>
</div>
