<div
  data-node-type="expand"
  data-title="📸 Showcase"
  data-expanded="false"
  data-prosemirror-content-type="node"
  data-prosemirror-node-name="expand"
  data-prosemirror-node-block="true"
>
  <ol
    start="1"
    class="ak-ol"
    data-prosemirror-content-type="node"
    data-prosemirror-node-name="orderedList"
    data-prosemirror-node-block="true"
  >
    <li
      data-prosemirror-content-type="node"
      data-prosemirror-node-name="listItem"
      data-prosemirror-node-block="true"
    >
      <p
        data-prosemirror-content-type="node"
        data-prosemirror-node-name="paragraph"
        data-prosemirror-node-block="true"
      ></p>
    </li>
  </ol>
</div>
